

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Bem-vindo ao Cook Book!
				</h2>
				<p>
					 O maior livro de receitas offline!
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Saiba mais</a>
				</p>
			</div>
	
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<%= render @recipes %>				
			</div>
		</div>
	</div>
</div>

